<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>iCloud.com.akaDuality.VoiceOver-Designer</key>
	<dict>
		<key>NSUbiquitousContainerIsDocumentScopePublic</key>
		<true/>
		<key>NSUbiquitousContainerName</key>
		<string>Voice Over Designer</string>
		<key>NSUbiquitousContainerSupportedFolderLevels</key>
		<string>ANY</string>
	</dict>
</dict>
</plist>
